@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@500&family=Montserrat:wght@300;700&family=Oxygen&family=Poppins:wght@300;400;500&family=Roboto:wght@500&family=Unbounded:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');



* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: rgb(243, 243, 243);

  color: rgb(10, 10, 10);
  font-family: "Poppins", sans-serif;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 86px;
  background-color: rgb(243, 243, 243);
  /* border: 2px solid rgb(252, 46, 46); */
}

nav ul {
  display: flex;
  justify-content: center;
  /* border: 2px solid rgb(0, 160, 8); */
  margin-left: 5.25rem;
  margin-top:10px ;
  /* border: 2px solid rgb(14, 0, 0); */
  /* background-color: #dfbe0021; */
}

nav ul li {
  list-style: none;
  margin: 0 20px;
  /* border: 1px solid black; */
  font-size: 17px;
  
}

.right ul li a {
  text-decoration:none ;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  
  /* font-size: large;
   */
  color: rgb(20, 20, 20);
}

.right ul li a:hover {
  text-decoration: none;
  /* font-size: 2cm; */
  color: rgb(235, 74, 0);
  font-size: 1.062rem;
}
.right ul li::after {
  content: '';
  width: 0;
  height: 2px;
  background: #142253;
  display: block;
  margin: auto;
  transition: 0.7s;
  color: rgb(255, 255, 255);


}

.right ul li:hover::after {
  width: 100%;
}

.left {
  /* font-size: 1.5rem; */
  /* background-color: #dfbd00; */
  /* padding: 10px 10px; */
  /* box-shadow:0.15cm 8px 18px; */
  
}
.left img{
  height: 39px;
  margin-right: 355px;
  /* width: 150px; */
}

/* indtro section */
.firstsection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 100px 0;
  /* border: 2px solid green; */
}

.firstsection > div {
  width: 37%;
}

.leftsection {
  font-size: 3rem;
  /* border: 2px solid green; */
  max-width: 600px;
  /* margin: 70px 0; */
}

.leftsection .buttons {
  /* margin-top: 100px; */
  display: block;
}

.leftsection .btn {
  padding: 15px;
  background: #dfbe00;
  color: rgb(17, 17, 17);
  /* border: 2px solid rgb(43, 43, 43); */
  border-radius: 13px;
  font-size: 21px;
  /* margin: 30px 18px; */
}
#socials{
  display: inline-block;
  padding: 0px 20px;
  background-color: rgb(243, 243, 243);
  border: 0px solid black;
 
}
#socials img{
  padding: 0px 8px;
}
#socials img :hover{
  /* padding: 0px 8px; */
  
}


.rightsection {
  /* background-color: red; */
  /* border: 2px solid green; */
  /* margin-left: 50px; */
  display: flex;
  justify-content: center;
}

.rightsection img {
  
  width: 70%;
  height: 70%;
  display: flex;
  /* border: 1px solid black; */
  border-radius: 50%;
  /* margin: 54px; */
}

.purple {
  color: rgb(243, 89, 0);
  font-weight: 800;
}

.text-gray {
  color: gray;
}

#element {
  color: rgb(243, 89, 0);
  font-weight: 500;
}



/* ABOUT ME SECTION CSS*/
.about-section {
  text-align: center;
  /* border: 2px solid rgb(0, 0, 0); */
  padding: 10px 20px;
  /*  */
}
.about-section h2{
  margin-top: 50px;
  margin-left: 40%;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 45px;
  font-weight: 500;
  /* border: 1px solid black; */
  border-radius: 5px;
  box-shadow: 0 6px 11px rgba(235, 212, 0, 0.767);
  background-color: #dfbe00;
  max-width: 240px;
  color: rgb(0, 0, 0);
  /* border: 2px solid rgb(0, 0, 0); */
  padding: 0px 0px;
  /*  */
}


.cards-container {
  /* border: 2px solid rgb(255, 14, 14); */
  margin-top: -150px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
}

.card {
  width: 280px;
  height: 430px;
  background-color: #f2f2f233;
  border-radius: 5px;
  padding: 20px 10px ;
  box-shadow: 0 6px 11px rgba(235, 74, 0, 0.877);
  text-align: left;
}

.card img {
  
  width: 100%;
  /* height: 50%; */
  padding: 0px 0px;
  margin-bottom: 25px;
}

.card h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1.2em;
  margin-bottom: 5px;
}

.card p {
  font-size: 0.98em;
  font-family: 'Poppins', sans-serif;
}
/* media queries for education */
@media only screen and (max-width: 768px) {
  /* .card {
    flex: 0 0 85%;
  } */
  .about-section {
    text-align: center;
    align-items: center;
    /* border: 2px solid rgb(0, 0, 0); */
    padding: 10px 20px;
    /*  */
  }
  .about-section h2{
    margin-top: 50px;
    text-align: center;
    margin-left: 22%;
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
    font-weight: 400;
    /* border: 1px solid black; */
    border-radius: 5px;
    box-shadow: 0 6px 11px rgba(235, 212, 0, 0.767);
    background-color: #dfbe00;
    max-width: 240px;
    color: rgb(0, 0, 0);
    /* border: 2px solid rgb(0, 0, 0); */
    padding: 0px 0px;
    /*  */
  }
  
  
  .cards-container {
    /* border: 2px solid rgb(255, 14, 14); */
    margin-top: -130px;
    display: flex;
    margin-left: 20%;
    width: 80%;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
  }
  
  .card {
    width: 380px;
    height: 380px;
    background-color: #f2f2f233;
    border-radius: 5px;
    padding: 20px 10px ;
    box-shadow: 0 4px 11px rgba(235, 74, 0, 0.877);
    text-align: center;
  }
  
  .card img {
    
    width: 100%;
    /* height: 50%; */
    padding: 0px 0px;
    margin-bottom: 25px;
  }
  
  .card h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.2em;
    margin-bottom: 5px;
  }
  
  .card p {
    font-size: 0.98em;
    font-family: 'Poppins', sans-serif;
  }
}





/* tech stack */
.tech-stack {
  width: 380px;
  margin-left: 36%;
  margin-bottom: 50px;
  border-radius: 5px;
  box-shadow: 0 6px 11px rgba(235, 212, 0, 0.767);
  background-color: #dfbe00;
}
table {
  background-color: #d4d4d42f;
  margin: 1rem auto;
  border-collapse: collapse;
  border-style:dotted;
  box-shadow: 0 6px 15px rgba(235, 200, 0, 0.877);
  width: 95%;
}

th, td {
  /* margin: 0px 40px; */
  padding: 1.7rem;
  text-align: center;
  border: 1px solid #070606;
}
td img{
  width: 60px;
  height: 60px;
  border-radius: 10%;
  padding: 10px 0px;
  margin: 10px 35px;

} 
/* use for responsive also */

th {
  background-color: rgba(255, 208, 0, 0.979);
  font-size: 30px;
  font-family: 'Poppy Sans', sans-serif;
  font-weight: 500;
  padding: 30px 0px;
}

@media only screen and (max-width: 768px) {
  .tech-stack {
    width: 225px;
    /* height: 0px; */
    border: 0px solid black;
    margin-bottom: 32px;
    margin-left: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-bottom: 0px; */
  }
  .tech-stack h2{
    font-size: 22px;
    font-weight: 400px;
  }
  table {
    background-color: #d4d4d42f;
    margin: 1rem auto;
    border-collapse:collapse;
    border-style:dotted;
    box-shadow: 0 6px 15px rgba(235, 200, 0, 0.877);
    width: 90%;
  }
  
  
  
  th {
    font-size: 20px;
    padding: 20px 0px;
  }
  
  td {
    padding: 1rem;
    
  }
  
  td img {
    width: 40px;
    height: 40px;
    margin: 5px 15px;
  }
}
















/* work exp css */

.workexp{
  border: 2px solid red;
  margin-top: 150px;
}
.workexp h1{
  /* border: 2px solid red; */
  font-size: 35px;
  padding: 20px 25px;
  margin-top: 50px;
  width: 180px;
  margin-left: 41%;
  margin-bottom: 50px;
  border-radius: 5px;
  box-shadow: 0 6px 11px rgba(235, 212, 0, 0.767);
  background-color: #dfbe00;
}
.title{
  
  color: black;
  /* border: 2px solid black; */
  
}
.title img{
  display: flex;
  align-items: center;
  
  margin-top:-20px ;
  margin-bottom: -20px;
  margin-left: 20%;
  display: flex;
  /* border: 2px solid black; */
  /* height: 100px; */
}
#ecell{
  display: flex;
  margin-left: 125px;
  /* border: 2px solid black; */
  /* height: 100px; */
}
h2 {
  text-align: center;
  margin-bottom: 200px;
  margin-top: 100px;
  font-size: 50px;
  font-weight: 600;
  color: #030303;
}
.title h3{
  margin-top: 20px;
  margin-left: 20%;
  font-size: 20px;
  font-weight: 500;
  color: #030303;

}
.timeline-container {
  display: flex;
  /* border: 2px solid red; */
  justify-content: center;
  padding-bottom: 300px;
}
.timeline-container .vertical-scrollable-timeline {
  width: 600px;
  list-style-type: none;
  position: relative;
}
.timeline-container .vertical-scrollable-timeline .list-progress {
  width: 8px;
  height: 100%;
  background-color: #e803fc;
  position: absolute;
  left: 48px;
  top: 0;
  overflow: hidden;
}
.timeline-container .vertical-scrollable-timeline .list-progress .inner {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100%;
  background-color: #c5c3cb;
  width: 100%;
}
.timeline-container .vertical-scrollable-timeline li {
  position: relative;
  padding: 35px 0px 125px 158px;
}
.timeline-container .vertical-scrollable-timeline li:last-child {
  margin-bottom: 0;
}
.timeline-container .vertical-scrollable-timeline li h2 {
  font-size: 25px;
  margin-bottom: 10px;
  font-weight: 600;
  color: #fff;
}
.timeline-container .vertical-scrollable-timeline li p {
  line-height: 1.5;
  color: #fff;
}
.timeline-container .vertical-scrollable-timeline li p:last-child {
  margin-bottom: 0;
}
.timeline-container .vertical-scrollable-timeline li .icon-holder {
  position: absolute;
  left: 0;
  top: 0;
  width: 104px;
  height: 104px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c5c3cb;
  border-radius: 50%;
  z-index: 1;
  transition: 0.4s all;
}
.timeline-container .vertical-scrollable-timeline li .icon-holder::before {
  content: '';
  width: 80px;
  height: 80px;
  border: 4px solid #fff;
  position: absolute;
  background-color: #c5c3cb;
  border-radius: 50%;
  z-index: -1;
  transition: 0.4s all;
}
.timeline-container .vertical-scrollable-timeline li .icon-holder i {
  font-size: 25px;
  color: #fff;
}body {
  font-family: Helvetica, Arial, sans-serif;
}
p {
  margin-top: 0;
  line-height: 1.4;
}
.clearfix, .m-timeline li {
  zoom: 1;
}
.clearfix:before, .m-timeline li:before, .clearfix:after, .m-timeline li:after {
  content: " ";
  display: table;
}
.clearfix:after, .m-timeline li:after {
  clear: both;
}
.m-timeline {
  margin: 0 20px;
}
.m-timeline ul {
  padding: 0;
  margin: 0;
}
.m-timeline li {
  position: relative;
  list-style-type: none;
  clear: both;
}
.m-timeline .module-header {
  text-transform: uppercase;
  text-align: center;
}
.m-timeline .module-canvas:before, .m-timeline .m-timeline .text-canvas:before {
  display: none;
}
.m-timeline .module-canvas {
  position: relative;
  padding-top: 20px;
}
.m-timeline .line {
  position: absolute;
  left: 50%;
  top: 0px;
  bottom: 0px;
  z-index: 1;
  width:3px;
  background: url("/img/line.png") repeat-y left top;
  margin-left: -2px;
  display: none;
}
.m-timeline .text {
  margin-bottom: 10px;
  
}
.m-timeline .text-canvas {
  
  position: relative;
  background-color: #dfa91415;
  border: 1px solid #000;
  border-radius: 5px;
  color: #000000;
  padding: 1em;
  height: 80;
  /* width: 400px; */
}
.m-timeline .text-canvas p{
  color: red;
}
.m-timeline .text-canvas:before {
  display: none;
  content: " ";
  position: absolute;
  z-index: 1;
  right: -34.5px;
  top: 50%;
  transform: translateY(-50%);
  width: 7px;
  height: 7px;
  background-color: #154992;
  border-radius: 50%;
}
.m-timeline .text-canvas:after {
  display: block;
  content: " ";
  position: absolute;
  z-index: 1;
  left: 50%;
  bottom: -8.5px;
  box-sizing: border-box;
  transform: translateX(-50%) rotate(-135deg);
  width: 15px;
  height: 15px;
  background-color: inherit;
  border: 1px solid #000;
  border-right: none;
  border-bottom: none;
}
.m-timeline .text-canvas p:last-child {
  margin-bottom: 0;
}
.m-timeline .graphics {
  text-align: center;
  margin-bottom: 15px;
}
.m-timeline .graphics img {
  max-width: 100%;
}
.m-timeline .content-table {
  display: table;
  width: 100%;
}
.m-timeline .content-table-cell {
  display: table-cell;
  vertical-align: middle;
}
@media only screen and (min-width: 35.5em) {
  .m-timeline {
    margin: 0 40px;
  }
  .m-timeline.vertical-align li {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .m-timeline.vertical-align li:nth-child(even) {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .m-timeline.vertical-align .graphics, .m-timeline.vertical-align .text {
    -webkit-box-flex: 0 1 50%;
    -moz-box-flex: 0 1 50%;
    -webkit-flex: 0 1 50%;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
  }
  .m-timeline .line {
    display: block;
  }
  .m-timeline .text-canvas:before {
    display: block;
  }
  .m-timeline .text-canvas:after {
    bottom: inherit;
    top: 50%;
    right: -16px;
    left: inherit;
    transform: translateY(-50%) translateX(-50%) rotate(135deg);
  }
  .m-timeline .graphics, .m-timeline .text {
    width: 50%;
    float: left;
    margin: 0;
    box-sizing: border-box;
  }
  .m-timeline .text {
    padding-right: 30px;
  }
  .m-timeline .graphics img {
    width: 100%;
  }
  .m-timeline li {
    margin-bottom: 30px;
  }
  .m-timeline li:nth-child(odd) .graphics {
    float: right;
    text-align: left;
  }
  .m-timeline li:nth-child(odd) .text {
    float: left;
  }
  .m-timeline li:nth-child(even) .text {
    padding-right: 0;
    padding-left: 30px;
  }
  .m-timeline li:nth-child(even) .text-canvas:after {
    left: -1px;
    transform: translateY(-50%) translateX(-50%) rotate(-45deg);
  }
  .m-timeline li:nth-child(even) .text-canvas:before {
    right: auto;
    left: -34.5px;
  }
  .m-timeline li:nth-child(even) .graphics {
    float: left;
    text-align: right;
  }
  .m-timeline li:nth-child(even) .text {
    float: right;
  }
}
@media only screen and (min-width: 48em) {
  .m-timeline .graphics img {
    width: auto;
  }
}















footer {
  background-color: rgb(18, 19, 32);
  /* height: 230px; */
}

body {
  background: #fbfbfd;
}

.new_footer_area {
  background: #fbfbfd;
}


.new_footer_top {
  padding: 120px 0px 270px;
  position: relative;
    overflow-x: hidden;
}
.new_footer_area .footer_bottom {
  padding-top: 5px;
  padding-bottom: 50px;
}
.footer_bottom {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  color: #7f88a6;
  padding: 27px 0px;
}
.new_footer_top .company_widget p {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  color: #6a7695;
  margin-bottom: 20px;
}
.new_footer_top .company_widget .f_subscribe_two .btn_get {
  border-width: 1px;
  margin-top: 20px;
}
.btn_get_two:hover {
  background: transparent;
  color: #5e2ced;
}
.btn_get:hover {
  color: #fff;
  background: #6754e2;
  border-color: #6754e2;
  -webkit-box-shadow: none;
  box-shadow: none;
}
a:hover, a:focus, .btn:hover, .btn:focus, button:hover, button:focus {
  text-decoration: none;
  outline: none;
}



.new_footer_top .f_widget.about-widget .f_list li a:hover {
  color: #5e2ced;
}
.new_footer_top .f_widget.about-widget .f_list li {
  margin-bottom: 11px;
}
.f_widget.about-widget .f_list li:last-child {
  margin-bottom: 0px;
}
.f_widget.about-widget .f_list li {
  margin-bottom: 15px;
}
.f_widget.about-widget .f_list {
  margin-bottom: 0px;
}
.new_footer_top .f_social_icon a {
  width: 44px;
  height: 44px;
  line-height: 43px;
  background: transparent;
  border: 1px solid #e2e2eb;
  font-size: 24px;
}
.f_social_icon a {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  font-size: 14px;
  line-height: 45px;
  color: #858da8;
  display: inline-block;
  background: #ebeef5;
  text-align: center;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.ti-facebook:before {
  content: "\e741";
}
.ti-twitter-alt:before {
  content: "\e74b";
}
.ti-vimeo-alt:before {
  content: "\e74a";
}
.ti-pinterest:before {
  content: "\e731";
}

.btn_get_two {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #5e2ced;
  border-color: #5e2ced;
  color: #fff;
}

.btn_get_two:hover {
  background: transparent;
  color: #5e2ced;
}

.new_footer_top .f_social_icon a:hover {
  background: #5e2ced;
  border-color: #5e2ced;
color:white;
}
.new_footer_top .f_social_icon a + a {
  margin-left: 4px;
}
.new_footer_top .f-title {
  margin-bottom: 30px;
  color: #263b5e;
}
.f_600 {
  font-weight: 600;
}
.f_size_18 {
  font-size: 18px;
}
h1, h2, h3, h4, h5, h6 {
  color: #4b505e;
}
.new_footer_top .f_widget.about-widget .f_list li a {
  color: #6a7695;
}


.new_footer_top .footer_bg {
  position: absolute;
  bottom: 0;
  background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEigB8iI5tb8WSVBuVUGc9UjjB8O0708X7Fdic_4O1LT4CmLHoiwhanLXiRhe82yw0R7LgACQ2IhZaTY0hhmGi0gYp_Ynb49CVzfmXtYHUVKgXXpWvJ_oYT8cB4vzsnJLe3iCwuzj-w6PeYq_JaHmy_CoGoa6nw0FBo-2xLdOPvsLTh_fmYH2xhkaZ-OGQ/s16000/footer_bg.png") no-repeat scroll center 0;
  width: 100%;
  height: 266px;
}

.new_footer_top .footer_bg .footer_bg_one {
  background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEia0PYPxwT5ifToyP3SNZeQWfJEWrUENYA5IXM6sN5vLwAKvaJS1pQVu8mOFFUa_ET4JuHNTFAxKURFerJYHDUWXLXl1vDofYXuij45JZelYOjEFoCOn7E6Vxu0fwV7ACPzArcno1rYuVxGB7JY6G7__e4_KZW4lTYIaHSLVaVLzklZBLZnQw047oq5-Q/s16000/volks.gif") no-repeat center center;
  width: 330px;
  height: 105px;
background-size:100%;
  position: absolute;
  bottom: 0;
  left: 30%;
  -webkit-animation: myfirst 22s linear infinite;
  animation: myfirst 22s linear infinite;
}

.new_footer_top .footer_bg .footer_bg_two {
  background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhyLGwEUVwPK6Vi8xXMymsc-ZXVwLWyXhogZxbcXQYSY55REw_0D4VTQnsVzCrL7nsyjd0P7RVOI5NKJbQ75koZIalD8mqbMquP20fL3DxsWngKkOLOzoOf9sMuxlbyfkIBTsDw5WFUj-YJiI50yzgVjF8cZPHhEjkOP_PRTQXDHEq8AyWpBiJdN9SfQA/s16000/cyclist.gif") no-repeat center center;
  width: 88px;
  height: 100px;
background-size:100%;
  bottom: 0;
  left: 38%;
  position: absolute;
  -webkit-animation: myfirst 30s linear infinite;
  animation: myfirst 30s linear infinite;
}



@-moz-keyframes myfirst {
0% {
  left: -25%;
}
100% {
  left: 100%;
}
}

@-webkit-keyframes myfirst {
0% {
  left: -25%;
}
100% {
  left: 100%;
}
}

@keyframes myfirst {
0% {
  left: -25%;
}
100% {
  left: 100%;
}
}

/*************footer End*****************/




/*************footer End*****************/

/* responsive design :) */

@media screen and (max-width: 935px) {
  body {
    /* background-color: rgb(58, 39, 39); */
  }
  footer {
    display: none;
  }
  .firstsection {
    flex-direction: column-reverse;
  }
  .box {
    flex-direction: column;
  }
  .secondsection .vertical {
    height: unset;
  }
  .vertical-title {
    left: 47px;
  }
  /* profile image */
  .left img{
    height: 39px;
    margin-right: 375px;
    display: block;
    width: 150px;
  }



}
/* Media queries for navbar */
@media screen and (max-width: 768px) {
  /* Adjustments for smaller screens */
  * {
    margin: 0;
    padding: 0;
}

header {
    
  position: sticky;
  top:0;
  z-index: 100;
  background-color: rgb(243,243,243);
    flex-direction: column;
    align-items: center;
}

header nav {
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left,
.right {
    margin-bottom: 10px;
    text-align: center; /* Centering text */
}

.right ul {
  
    list-style: none; /* Removing default list styles */
    padding: 0;
    margin: 0;
    margin-left: 50px; 
}

.right ul li {
  
    margin-bottom: -7px; /* Adding spacing between list items */
    /* border: 2px solid #f12e2e;   */
    margin: 10px 0px; 
    padding-left: 0.55rem;
      
                   
}

.right ul li a {
    padding:6px; /* Adding padding to make links easier to tap */
    border: 1px solid #ccc; /* Adding border for better visibility */
    background-color: rgb(243, 243, 243);
    border-radius: 5px; /* Adding border radius for rounded corners */
    display: block;
    width: 90%; /* Making links full width */
}
.right ul li a  span{
    display: none;/* Making links full width */
}



  .left img {
    display: flex;
    justify-content: center;
    align-items: center;
      width: 100px; /* Adjust size as needed */
      height: auto;
      margin-left: 47%;
      margin-top: 15%;
    }
    
  .right img {
      
  }

  .rightsection {
      /* Hide right section on smaller screens */
  }

  .rightsection img {
     /* Hide right image on smaller screens */
     width: 100%;
     height: auto;
     margin-left: 50%;
  }

  .rightsection::after {
       /* Display image as background */
      display: block;
      width: 100px; /* Adjust size as needed */
      height: 100px; /* Adjust size as needed */
      background-size: cover;
      background-repeat: no-repeat;
      margin: auto;
  }

  .rightsection::before {
      content: '';
      display: flex;
      height: 100px; /* Adjust size as needed */
      
  }

  /* first section */

  @media screen and (max-width: 768px) {
    .firstsection {
        padding: 0px; /* Adjust padding */
    }

    .leftsection h1 {
        font-size: 20px; /* Adjust font size */
    }

    .leftsection p {
        font-size: 16px; /* Adjust font size */
        margin-top: 5px; /* Adjust spacing */
        display: flex;
        align-items: center;
    }

    .buttons {
        margin-top: 15px; /* Adjust spacing */
    }

    .buttons .btn {
        margin-bottom: 8px; /* Adjust spacing */
        width: 100%; /* Make buttons full width */
        margin-left: 23%;
    }
    #socials{
      display: inline-flex;
      /* border: 2px solid salmon; */
      margin : 10px 25px;
      align-items: center;
      justify-content: center;
      

    }
    #socials a img{
      margin-top: 10px ;
      padding: 0px 20px;
      height: auto;
      width: 40px;
    }
}




}

