@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@500&family=Montserrat:wght@300;700&family=Oxygen&family=Poppins:wght@300;400;500&family=Roboto:wght@500&family=Unbounded:wght@800&display=swap');



* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(243, 243, 243);

  color: rgb(10, 10, 10);
  font-family: "Poppins", sans-serif;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 86px;
  background-color: rgb(243, 243, 243);
  /* border: 2px solid rgb(252, 46, 46); */
}

nav ul {
  display: flex;
  justify-content: center;
  /* border: 2px solid rgb(0, 160, 8); */
  margin-left: 5.25rem;
  /* border: 2px solid rgb(14, 0, 0); */
  /* background-color: #dfbe0021; */
}

nav ul li {
  list-style: none;
  margin: 0 20px;
  /* border: 1px solid black; */
  font-size: 17px;
  
}

.right ul li a {
  text-decoration:none ;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  
  /* font-size: large;
   */
  color: rgb(20, 20, 20);
}

.right ul li a:hover {
  text-decoration: none;
  /* font-size: 2cm; */
  color: rgb(235, 74, 0);
  font-size: 1.062rem;
}
.right ul li::after {
  content: '';
  width: 0;
  height: 2px;
  background: #142253;
  display: block;
  margin: auto;
  transition: 0.7s;
  color: rgb(255, 255, 255);


}

.right ul li:hover::after {
  width: 100%;
}

.left {
  /* font-size: 1.5rem; */
  /* background-color: #dfbd00; */
  /* padding: 10px 10px; */
  /* box-shadow:0.15cm 8px 18px; */
  
}
.left img{
  height: 39px;
  margin-right: 375px;
  /* width: 150px; */
}

/* indtro section */
.firstsection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 100px 0;
  /* border: 2px solid green; */
}

.firstsection > div {
  width: 37%;
}

.leftsection {
  font-size: 3rem;
  /* border: 2px solid green; */
  max-width: 600px;
  /* margin: 70px 0; */
}

.leftsection .buttons {
  /* margin-top: 100px; */
  display: block;
}

.leftsection .btn {
  padding: 15px;
  background: #dfbe00;
  color: rgb(17, 17, 17);
  /* border: 2px solid rgb(43, 43, 43); */
  border-radius: 13px;
  font-size: 21px;
  /* margin: 30px 18px; */
}
#socials{
  display: inline-block;
  padding: 0px 20px;
  background-color: rgb(243, 243, 243);
  border: 0px solid black;
 
}
#socials img{
  padding: 0px 8px;
}
#socials img :hover{
  /* padding: 0px 8px; */
  
}


.rightsection {
  /* background-color: red; */
  /* border: 2px solid green; */
  /* margin-left: 50px; */
  display: flex;
  justify-content: center;
}

.rightsection img {
  
  width: 70%;
  height: 70%;
  display: flex;
  /* border: 1px solid black; */
  border-radius: 50%;
  /* margin: 54px; */
}

.purple {
  color: rgb(243, 89, 0);
  font-weight: 800;
}

.text-gray {
  color: gray;
}

#element {
  color: rgb(243, 89, 0);
  font-weight: 500;
}



/* ABOUT ME SECTION CSS*/
.about-section {
  text-align: center;
  border: 2px solid rgb(0, 0, 0);
  padding: 10px 20px;
  /*  */
}
.about-section h2{
  margin-top: 50px;
  text-align: left;
  /* border: 2px solid rgb(0, 0, 0); */
  padding: 0px 0px;
  /*  */
}


.cards-container {
  /* border: 2px solid rgb(255, 14, 14); */
  margin-top: -150px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
}

.card {
  width: 280px;
  height: 430px;
  background-color: #f2f2f233;
  border-radius: 5px;
  padding: 20px 10px ;
  box-shadow: 0 6px 11px rgba(235, 74, 0, 0.877);
  text-align: left;
}

.card img {
  
  width: 100%;
  /* height: 50%; */
  padding: 0px 0px;
  margin-bottom: 25px;
}

.card h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1.2em;
  margin-bottom: 5px;
}

.card p {
  font-size: 0.98em;
  font-family: 'Poppins', sans-serif;
}











/* work exp css */


h2 {
  text-align: center;
  margin-bottom: 200px;
  margin-top: 100px;
  font-size: 50px;
  font-weight: 600;
  color: #030303;
}
.timeline-container {
  display: flex;
  /* border: 2px solid red; */
  justify-content: center;
  padding-bottom: 300px;
}
.timeline-container .vertical-scrollable-timeline {
  width: 600px;
  list-style-type: none;
  position: relative;
}
.timeline-container .vertical-scrollable-timeline .list-progress {
  width: 8px;
  height: 100%;
  background-color: #e803fc;
  position: absolute;
  left: 48px;
  top: 0;
  overflow: hidden;
}
.timeline-container .vertical-scrollable-timeline .list-progress .inner {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100%;
  background-color: #c5c3cb;
  width: 100%;
}
.timeline-container .vertical-scrollable-timeline li {
  position: relative;
  padding: 35px 0px 125px 158px;
}
.timeline-container .vertical-scrollable-timeline li:last-child {
  margin-bottom: 0;
}
.timeline-container .vertical-scrollable-timeline li h2 {
  font-size: 25px;
  margin-bottom: 10px;
  font-weight: 600;
  color: #fff;
}
.timeline-container .vertical-scrollable-timeline li p {
  line-height: 1.5;
  color: #fff;
}
.timeline-container .vertical-scrollable-timeline li p:last-child {
  margin-bottom: 0;
}
.timeline-container .vertical-scrollable-timeline li .icon-holder {
  position: absolute;
  left: 0;
  top: 0;
  width: 104px;
  height: 104px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c5c3cb;
  border-radius: 50%;
  z-index: 1;
  transition: 0.4s all;
}
.timeline-container .vertical-scrollable-timeline li .icon-holder::before {
  content: '';
  width: 80px;
  height: 80px;
  border: 4px solid #fff;
  position: absolute;
  background-color: #c5c3cb;
  border-radius: 50%;
  z-index: -1;
  transition: 0.4s all;
}
.timeline-container .vertical-scrollable-timeline li .icon-holder i {
  font-size: 25px;
  color: #fff;
}body {
  font-family: Helvetica, Arial, sans-serif;
}
p {
  margin-top: 0;
  line-height: 1.4;
}
.clearfix, .m-timeline li {
  zoom: 1;
}
.clearfix:before, .m-timeline li:before, .clearfix:after, .m-timeline li:after {
  content: " ";
  display: table;
}
.clearfix:after, .m-timeline li:after {
  clear: both;
}
.m-timeline {
  margin: 0 20px;
}
.m-timeline ul {
  padding: 0;
  margin: 0;
}
.m-timeline li {
  position: relative;
  list-style-type: none;
  clear: both;
}
.m-timeline .module-header {
  text-transform: uppercase;
  text-align: center;
}
.m-timeline .module-canvas:before, .m-timeline .m-timeline .text-canvas:before {
  display: none;
}
.m-timeline .module-canvas {
  position: relative;
  padding-top: 20px;
}
.m-timeline .line {
  position: absolute;
  left: 50%;
  top: 0px;
  bottom: 0px;
  z-index: 1;
  width:3px;
  background: url("/img/line.png") repeat-y left top;
  margin-left: -2px;
  display: none;
}
.m-timeline .text {
  margin-bottom: 10px;
  
}
.m-timeline .text-canvas {
  
  position: relative;
  background-color: #dfa91415;
  border: 1px solid #000;
  border-radius: 5px;
  color: #000000;
  padding: 1em;
  height: 80;
  /* width: 400px; */
}
.m-timeline .text-canvas p{
  color: red;
}
.m-timeline .text-canvas:before {
  display: none;
  content: " ";
  position: absolute;
  z-index: 1;
  right: -34.5px;
  top: 50%;
  transform: translateY(-50%);
  width: 7px;
  height: 7px;
  background-color: #154992;
  border-radius: 50%;
}
.m-timeline .text-canvas:after {
  display: block;
  content: " ";
  position: absolute;
  z-index: 1;
  left: 50%;
  bottom: -8.5px;
  box-sizing: border-box;
  transform: translateX(-50%) rotate(-135deg);
  width: 15px;
  height: 15px;
  background-color: inherit;
  border: 1px solid #000;
  border-right: none;
  border-bottom: none;
}
.m-timeline .text-canvas p:last-child {
  margin-bottom: 0;
}
.m-timeline .graphics {
  text-align: center;
  margin-bottom: 15px;
}
.m-timeline .graphics img {
  max-width: 100%;
}
.m-timeline .content-table {
  display: table;
  width: 100%;
}
.m-timeline .content-table-cell {
  display: table-cell;
  vertical-align: middle;
}
@media only screen and (min-width: 35.5em) {
  .m-timeline {
    margin: 0 40px;
  }
  .m-timeline.vertical-align li {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .m-timeline.vertical-align li:nth-child(even) {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .m-timeline.vertical-align .graphics, .m-timeline.vertical-align .text {
    -webkit-box-flex: 0 1 50%;
    -moz-box-flex: 0 1 50%;
    -webkit-flex: 0 1 50%;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
  }
  .m-timeline .line {
    display: block;
  }
  .m-timeline .text-canvas:before {
    display: block;
  }
  .m-timeline .text-canvas:after {
    bottom: inherit;
    top: 50%;
    right: -16px;
    left: inherit;
    transform: translateY(-50%) translateX(-50%) rotate(135deg);
  }
  .m-timeline .graphics, .m-timeline .text {
    width: 50%;
    float: left;
    margin: 0;
    box-sizing: border-box;
  }
  .m-timeline .text {
    padding-right: 30px;
  }
  .m-timeline .graphics img {
    width: 100%;
  }
  .m-timeline li {
    margin-bottom: 30px;
  }
  .m-timeline li:nth-child(odd) .graphics {
    float: right;
    text-align: left;
  }
  .m-timeline li:nth-child(odd) .text {
    float: left;
  }
  .m-timeline li:nth-child(even) .text {
    padding-right: 0;
    padding-left: 30px;
  }
  .m-timeline li:nth-child(even) .text-canvas:after {
    left: -1px;
    transform: translateY(-50%) translateX(-50%) rotate(-45deg);
  }
  .m-timeline li:nth-child(even) .text-canvas:before {
    right: auto;
    left: -34.5px;
  }
  .m-timeline li:nth-child(even) .graphics {
    float: left;
    text-align: right;
  }
  .m-timeline li:nth-child(even) .text {
    float: right;
  }
}
@media only screen and (min-width: 48em) {
  .m-timeline .graphics img {
    width: auto;
  }
}















footer {
  background-color: rgb(18, 19, 32);
  /* height: 230px; */
}

.footer {
  padding: 23px 122px;
  display: flex;
  justify-content: space-evenly;
}

.footer ul {
  list-style: none;
}

.footer > div {
  width: 220px;
}

footer .footer-rights {
  text-align: center;
  color: rgb(150, 150, 150);
  padding: 12px 0;
}

/*************footer End*****************/

/* responsive design :) */

@media screen and (max-width: 935px) {
  body {
    /* background-color: rgb(58, 39, 39); */
  }
  footer {
    display: none;
  }
  .firstsection {
    flex-direction: column-reverse;
  }
  .box {
    flex-direction: column;
  }
  .secondsection .vertical {
    height: unset;
  }
  .vertical-title {
    left: 47px;
  }
  /* profile image */
  .left img{
    height: 39px;
    margin-right: 375px;
    display: block;
    width: 150px;
  }



}
/* Media queries for navbar */
@media screen and (max-width: 768px) {
  /* Adjustments for smaller screens */
  * {
    margin: 0;
    padding: 0;
}

header {
    
  position: sticky;
  top:0;
  z-index: 100;
  background-color: rgb(243,243,243);
    flex-direction: column;
    align-items: center;
}

header nav {
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left,
.right {
    margin-bottom: 10px;
    text-align: center; /* Centering text */
}

.right ul {
  
    list-style: none; /* Removing default list styles */
    padding: 0;
    margin: 0;
    margin-left: 50px; 
}

.right ul li {
  
    margin-bottom: -7px; /* Adding spacing between list items */
    /* border: 2px solid #f12e2e;   */
    margin: 10px 0px; 
    padding-left: 0.55rem;
      
                   
}

.right ul li a {
    padding:6px; /* Adding padding to make links easier to tap */
    border: 1px solid #ccc; /* Adding border for better visibility */
    background-color: rgb(243, 243, 243);
    border-radius: 5px; /* Adding border radius for rounded corners */
    display: block;
    width: 90%; /* Making links full width */
}
.right ul li a  span{
    display: none;/* Making links full width */
}



  .left img {
    display: flex;
    justify-content: center;
    align-items: center;
      width: 100px; /* Adjust size as needed */
      height: auto;
      margin-left: 47%;
      margin-top: 15%;
    }
    
  .right img {
      
  }

  .rightsection {
      /* Hide right section on smaller screens */
  }

  .rightsection img {
     /* Hide right image on smaller screens */
     width: 100%;
     height: auto;
     margin-left: 50%;
  }

  .rightsection::after {
       /* Display image as background */
      display: block;
      width: 100px; /* Adjust size as needed */
      height: 100px; /* Adjust size as needed */
      background-size: cover;
      background-repeat: no-repeat;
      margin: auto;
  }

  .rightsection::before {
      content: '';
      display: flex;
      height: 100px; /* Adjust size as needed */
      
  }

  /* first section */

  @media screen and (max-width: 768px) {
    .firstsection {
        padding: 0px; /* Adjust padding */
    }

    .leftsection h1 {
        font-size: 20px; /* Adjust font size */
    }

    .leftsection p {
        font-size: 16px; /* Adjust font size */
        margin-top: 5px; /* Adjust spacing */
        display: flex;
        align-items: center;
    }

    .buttons {
        margin-top: 15px; /* Adjust spacing */
    }

    .buttons .btn {
        margin-bottom: 8px; /* Adjust spacing */
        width: 100%; /* Make buttons full width */
        margin-left: 23%;
    }
    #socials{
      display: inline-flex;
      /* border: 2px solid salmon; */
      margin : 10px 25px;
      align-items: center;
      justify-content: center;
      

    }
    #socials a img{
      margin-top: 10px ;
      padding: 0px 20px;
      height: auto;
      width: 40px;
    }
}




}

